/*
This is the css format for home.html
Author: Yuren Sun
*/

body {
    font-family: "Times New Roman" !important;
}


/*  box and containers */

.box {
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: 150%;
    margin: 0;
    align-content: center;
    font-size: 20px;
    overflow: hidden;
    /* fix position */
    position: fixed;
    top: 0;
    left: 0;
}

.left {
    width: 30%;
    height: 100%;
    background-color: #dae4ec;
    float: left;
    text-align: left;
    margin: 0;
}

.right {
    width: 70%;
    height: 100%;
    float: right;
    overflow: scroll;
    text-align: left;
    display: flexbox;
}

.right_container {
    margin: 0% 3% auto 3%;
}


/* imgs */

.personal_img {
    width: 70%;
}

.icon-box {
    display: inline-block;
}

.icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
}

.icon-row {
    width: 100%;
    margin: 10px 0px;
}


/* texts */
.right_header {
    color: gray;
}

/* Links */

.right_container a:link {
    /* color for links */
    color: #126bae;
    text-decoration: none;
}

.right_container a:visited {
    color: #126bae;
}

.right_container a:hover {
    color: #185888;
    text-decoration: underline;
}

.right_container a:active {
    color: #185888;
}

/* Copy right */

.copyright {
    position: relative;
    bottom: 0px;
    color: gray;
}

.copyright p{
    margin: 0;
    padding: 0;
}


/* misc */

.button {
    /*used for buttons*/
    width: fit-content;
    height: 20px;
    background: #eef7f9;
    margin: 0 2%;
    text-align: center;
}

.break {
    margin: 60px auto;
    width: 80%;
    color: #987cb9;
}
